header {
    background-image: url('../resources/Banner\ Image.png');
    border-radius: 16px;
    background-position: center center;
    background-repeat: no-repeat;
}

.header-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.header-h1 {
    color: #FFF;
    text-align: center;
    padding: 0px 300px 144px;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}

.header-div {
    padding: 100px;
}

.skill-h1 {

    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skill-h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.skill-h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.image-newyear {
    width: 802.9px;
    height: 500px;

    justify-content: center;
}

.second {
    background: #FFF;
    text-align: center;
}










.Welcome {
    background-image: url('../resources/Vectorrr.png');
    background-position: center center;
    background-repeat: no-repeat;

    width: 1320px;
    height: 600px;

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.party {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;

    justify-self: start;
}

.gift {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding: 40px 0px 0px;

}

.portfolio {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.dolor {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;



}

.image-six {}


.img-three {
    justify-content: center display: flex;
    gap: 10px;
}

.img-six {
    justify-content: center display: flex;
    gap: 10px;
}

.group {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 150px;
    height: 150px;
    flex-shrink: 0;
    padding: 100px 0px 0px;
}

.message {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.news {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.dolor-sit {

    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    text-transform: capitalize;
}

.input-two {
    border-radius: 50px;
    background: #FFF;
    text-align: center;

    width: 648px;
    height: 72px;

}

.footer {

    background: #070211;
    width: 1400px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.white-one {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding: 50px 0px 0px 120px;

}

.white-two {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    padding: 50px 120px 0px 0px;

}

.white {
    display: flex;
    justify-content: space-between;
}

.hoo {
    background: rgba(255, 255, 255, 0.15);
    width: 1320px;
    height: 1px;
}

.logo {
    align-items: center;
    padding: 100px 550px;
}

.white-all {
    color: #FFF;
    font-family: Inter;
    padding: 40px 0px 100px 120px;
    font-size: 24px;
    font-weight: 500;
}

.white-un {
    color: #FFF;
    font-family: Inter;
    padding: 40px 120px 100px 0px;
    font-size: 24px;
    font-weight: 500


}